@model List<ProductViewModel>
<head>
    @*carousel fungerar inte utan dessa, ska de vara med i layout-filen?*@
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </head>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ol class="carousel-indicators">

            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            @*för att ändra vilka bilder som ska visas i karusellen kontrollerar vi här vilka index vi vill visa*@
            @for (int i = 1; i < Model.Count; i++)
            {
                <li data-target="#myCarousel" data-slide-to=@i.ToString()></li>

            }
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">

            <div class="item active">
                <img src="@Model[0].ImgSrc">
            </div>

            @for (int i = 1; i < Model.Count; i++)
            {
                <div class="item">
                    <img src="@Model[i].ImgSrc">
                </div>
            }

        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

<div class="container-fluid">
    @for (int i = 0; i < Model.Count; i++)
    {
       //TODO: lägg till logik för hur bilder ska visas när det inet är antal som är jämnt delbara med 4
        if((i==0 || i%4==0) && i+3<Model.Count)
        {
            <div class="row">
               
                <div class="col-lg-3"><img src=@Model[i].ImgSrc width="200" height="200"><br /><h4>@Model[i].Name</h4></div>
                <div class="col-lg-3"><img src=@Model[i+1].ImgSrc width="200" height="200"><br /><h4>@Model[i+1].Name</h4></div>
                <div class="col-lg-3" style="border:1px;"><img src=@Model[i+2].ImgSrc width="200" height="200"><br /><h4>@Model[i+2].Name</h4></div>
                <div class="col-lg-3" style="border:1px;"><img src=@Model[i+3].ImgSrc width="200" height="200"><br /><h4>@Model[i+3].Name</h4></div>
            </div>
            i += 3;
        }


    }

</div>

