@model UserLoginModel

<h4>Accessnivå: @Model.Accessability<br />
    Förnamn: @Model.FirstName<br />
    Efternamn: @Model.LastName<br />
    Kundnummer: @Model.UserID<br />
    Epost: @Model.Email<br />

    </h4>
