@model List<ProductsInCategoryViewModel>
@{
    ViewBag.Title = Model[0].Categories[0].Name;
}
<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <a href="/store/product/@product.ID"><img src="@product.PictureSrc" alt="@product.ProductName"></a>
                <div class="caption">
                    @if (product.CampaignPrice > 0)
                    {
                        <h4 class="pull-right campaignprice">@product.CampaignPrice</h4><s class="pull-right ">@product.Price</s>
                    }
                    else
                    {
                        <h4 class="pull-right">@product.Price</h4>
                    }
                    <h4>
                        <a href="/store/product/@product.ID">
                            @if (@product.Description.ToArray().Length > 17)
                            {
                                @for (int i = 0; i < 17; i++)
                                {
                                    @product.ProductName.ToArray()[i]
                                }
                            }
                            else
                            {
                                @product.ProductName

                            }
                        </a>
                    </h4>
                    <p>
                        @if (@product.Description.ToArray().Length > 110)
                        {
                        @for (int i = 0; i < 110; i++)
                            {
                        @product.Description.ToArray()[i]
                            }
                        }
                        else
                        {
                        @product.Description
                        }
                    </p>
                </div>
                <div class="ratings">
                    <p class="pull-right">@product.Taggs.Count taggar</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>
                </div>
            </div>
        </div>
    }
    <nav>
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Föregående">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Nästa">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav> @*PAGINATION*@
</div>
